html{
  text-align: center;
    min-height: 100%;
    background-image: url(../public/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

